.profileIcon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin: 0 20px 0 0;
}
.userName {
  font-size: 20px;
  font-weight: 800;
  margin: 0 20px 0 0;
}
.postDate {
  font-size: 15px;
  font-weight: 500;
}
.blogImage {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.55rem gray);
}
.blogTitle {
  font-size: 35px;
  font-weight: 800;
}
.blogDescription {
  font-size: 20px;
  font-weight: 500;
}
.userPosition {
  font-size: 17px;
  font-weight: 500;
}
.chip {
  background-color: rgb(232, 232, 232);
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 20px 0 0;
}
.blogNotCreated {
  font-size: 20px;
  color: rgb(143, 143, 143);
  margin: 20px 0;
}
.fontAwesomeIcon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}
.iconRed {
  color: crimson;
  margin: 0 0 0 30px;
}
.iconBlue {
  color: blueviolet;
}
